@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
  margin: 0;
  background-color: rgb(211, 211, 211);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
