@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  --main-bg-color: rgb(195, 195, 195);
  --main-font: "Major Mono Display";
}

body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-wrap: nowrap;
}
.canvasbox {
  min-width: 75%;
  padding: 10px;
}
canvas {
  background-color: var(--main-bg-color);
  /*   border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px; */
  visibility: visible;
}

.back {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.363);
  top: 0px;
  left: 0px;
  min-width: 75%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  text-align: left;
  height: 250px;
  position: relative;
  background-color: white;
  padding: 40px;
  font-family: var(--main-font);
  font-size: medium;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-btn {
  background-color: white;
  font-family: var(--main-font);
  font-size: medium;
  color: black;
  padding: 20px;
  border: 1px solid black;
  border-radius: 100px;
}

.rbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-family: var(--main-font);
  font-size: large;
}

.aboutbox {
  text-align: center;
}
.sbwtr {
  font-size: xx-large;
}
.title {
  color: rgb(240 96 96);
  font-size: large;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.disclaimer {
  font-size: xx-small;
}
